body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
    height: 100vh;
    background-color: #f4f4f4;
}
.boton {
    background-color: purple;
    color: black;
    border-radius: 50px;;

}
.boton1 {
    background-color: orange;
    color: black;
    border-radius: 50px;;

}
.boton2 {
    background-color: green;
    color: black;
    border-radius: 50px;;

}
.boton3 {
    background-color: aqua;
    color: black;
    border-radius: 50px;;

}
.tabla1 {
    width: 25%;
    border-collapse: collapse; /* Une los bordes */
}

.tabla1 {
    width: 25%; /* Ocupa todo el ancho disponible */
    height: 100%; /* Ocupa toda la altura de la página */
    border-collapse: collapse; /* Une los bordes */
}

.tabla1 td {
    border: 1px solid black; /* Línea negra para cada celda */
    padding: 10px; /* Espaciado interno en las celdas */
    text-align: center; /* Centra el contenido */
    vertical-align: middle; /* Centra verticalmente el contenido */
}
.tabla2 {
    width: 100%; /* La tabla ocupará todo el ancho disponible */
    height: 100px; /* Altura fija para la tabla */
    border-collapse: collapse; /* Une los bordes de las celdas */
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
    font-size: 40px; /* Ajusta el tamaño del texto */
    margin-bottom: 20px; /* Añade espacio debajo de la tabla */
    align-items: center;  
}

.tabla2 td, .tabla2 th {
    border: 5px solid black; /* Agrega bordes a las celdas */
    padding: 10px; /* Espaciado interno en las celdas */
}
.text1{
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
    font-size: 40px; /* Ajusta el tamaño del texto */
}
.text2{
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif; /* Cambia la fuente a Arial */
    font-size: 30px; /* Ajusta el tamaño del texto */

}